{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow">
                    <h2 class="card-header text-center">Ajouter un libre</h2>
                    <div class="card-body">
                        <form action="{{path('add_book')}}" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Entrer le titre"  autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Isbn</label>
                                <input type="text" class="form-control" id="isbn" name="isbn" placeholder="Entrer le isbn"  autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <select name="author" class="form-control">
                                    <option value="">Faites votre choix</option>
                                    {% for author in authors %}
                                        <option value="{{ author.id }}">{{ author.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mybtn w-50">
                                <button type="submit" class="btn btn-outline-primary btn-sm" name="save">Save</button>
                                <a href="{{path('list_book')}}" type="reset" class="btn btn-outline-danger btn-sm" name="cancel" >Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}